@charset "UTF-8";
*{
	margin:0;
	padding:0;
	border:0 none;
	font-size:1em;
	font-family: "Microsoft Yahei","微软雅黑","宋体",Tahoma,Arial,Helvetica,STHeiti; 
}
body{
	background:url(images/body_bg.png) 50% 0% #DAD5E1 repeat-x;
}
h1.header{
	font-size:1.3em;
	font-weight: 400;
	text-align: center;
	background:#f6f6f6;
	border-bottom: 0.1em solid #aaa;
	padding:0.3em 0;
}
h1.header img{
	vertical-align: middle;
	width:10%;
}
h1.header span{
	vertical-align: middle;
}
#content{
	width:83%;
	margin:0 auto;
}
h2{
	font-size:1em;
	font-weight: 100;
	border-left:0.3em solid #614498;
	padding-left:0.5em;
	margin:1em 0;
}
h3{
	font-size:1em;
	font-weight: 100;
	background:#fff;
	background:rgba(255,255,255,0.5);
	width:30%;
	height:1.4em;
	text-align: center;
	padding:0.4em 0;
}
div.func{
	position:relative;
}
div.functionList{/*功能菜单列表*/
	background:#fff;
	background:rgba(255,255,255,0.5);
	padding-bottom:3%;
}
div.functionList input{
	height:1.6em;
	text-align:center;
	width:30%;
	margin-left:1.6%;
	margin-top:3%;
	background:#FFE8A0;
}
div.others h3{
	position:absolute;
	top:0;
	right:0;
	background: transparent;
	color:#888;
}
div.negotiation select{
	width:80%;
	display: block;
	height:1.67em;
	margin-bottom:3%;
	font-size: 0.9em;
	border:1px solid #eee;
	background: #fff;
}
div.negotiation textarea{
	width:98%;
	display: block;
	height:5em;
	padding:0.2em;
	resize : none;
	margin-bottom:3%;
	font-size: 1em;
}
div.negotiation input.inPut{
	width:79%;
	padding-left:0.2em;
	height:1.5em;
	line-height: 1.5em;
}
div.negotiation input.submit{
	display: block;
	margin-top:3%;
	background:#FFE8A0;
	font-size: 0.9em;
	text-align: center;
	width:18%;
	height:1.6em;
}