@CHARSET "UTF-8";
*{
	padding:0;
	margin:0;
	border:0 none;
}
div#content{
	width:900px;
	margin:0px auto;
}
h3 a{
	text-decoration: none;
	color:#3D5598;
	height:30px;
	line-height: 40px;
	padding-left:30px;
	background:url(../images/iconfont-iconfontcolor52.png) no-repeat 0px 1px;
}
h3 a:hover{
	text-decoration: underline;
}
p.content{
	padding-left:30px;
	background:url(../images/miaoshu2.png) no-repeat 0px 5px;
	height:30px;
	line-height: 30px;
}
ul li{
	border-bottom:1px solid #eee;
	padding-bottom:5px;
}
p.name{
	height:40px;
	line-height: 40px;
	color:#aaa;
	font-size:14px;
}
.username{
	padding:0 5px;
}
#leftListHead{
	margin-top:20px;
}
#leftListBottom a{
	border: 1px solid #e1e2e3;
    cursor: pointer;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: white;
    display: inline-block;
    margin-right: 9px;
    overflow: hidden;
    vertical-align: text-bottom;
    text-decoration:none;
    color:#3d5598;
    padding:0 10px;
}
#leftListBottom a:hover{
	background:#3d5598;
	color:#fff !important;
}
span#pageNow{
	padding-left:5px;
}
.noe{
	height:40px;
	line-height:40px;
}